@font-face {
  font-family: "Apple SD Gothic Neo";
  src: url("/fonts/AppleSDGothicNeoL.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  src: url("/fonts/AppleSDGothicNeoM.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  src: url("/fonts/AppleSDGothicNeoB.ttf") format("truetype");
  font-weight: 700;
}
